* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: #9D9870;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #8A7B2A;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.2;
}

p {
  margin-bottom: 10px;
  color: #444;
}

p, li {
  font-weight: normal;
}

li a.post-link {
  font-weight: 300;
}

p a {
  text-decoration: underline;
}

a,
a:hover,
a:visited { 
  color: #B8A433;
  text-decoration: none;
}

.sidebar table a,
.sidebar table a:hover,
.sidebar table a:visited { 
  color: #DCD091;
  font-size: 18px;
  font-weight: 200;
}

.sidebar table {
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.social-icons {
  text-align: center;
}

svg {
  fill: #B8A433;
  fill: #DCD091;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 20px;
}

.bullet:last-child {
  display: none;
}

h1.site-title {
  text-transform:lowercase;
  font-size: 45px;
  margin-bottom: 16px;
  letter-spacing: 3px;
}

.page h1 {
  text-align: left;
  margin-bottom: 20px;
}

h2.description {
  font-size: 22px;
  color: #F1F7B1;
  letter-spacing: 1px;
}

.post-list h2 {
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.2;
}

.post-list p {
  margin-bottom: 0;
  color: #777;
}

.page-content img {
  display: block;
  margin: 10px auto 30px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.date {
  color: #8A7B2A;
}

.sidebar {
  position: fixed;
  color: white;
  width: 33%;
  height: 100%;
  float: left;
  padding:50px 15px;
  background: #333;
  background: url('../images/diagmonds.png');
}

.page-content {
  width: 67%;
  float: right;
}

.post,
.page {
  margin-bottom: 50px;
}

.wrapper {
  padding: 40px 80px 10px;
  background: #F8F8F8;
}

.wrapper ul {
  margin-bottom: 10px;
  list-style-position: inside;
}

.sidebar ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.left-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 10px;
  font-size: 18px;
  text-transform: uppercase;
}

button.quantity {
  margin-right: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #DCD091;
  background: #444;
  border: none;
  cursor: default;
}

button {
  width: 75px;
  height: 25px;
  font-size: 14px;
  border: 1px solid #C7C2A5;
  border-radius: 12px;
  color: #B8A433;
  background: #FFF;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.pagination-right {
  float: right;
}

.pagination-left,
.pagination-right {
  margin-bottom: 20px;
}

.footer {
  padding: 20px 0 6px;
  color: white;
  text-align: center;
  background: #9D9870;
}

.footer p {
  color: white;
  font-weight: 300;
}

.footer a {
  color: white;
}

/* media queries */

@media screen and (max-width : 1100px) {

  .wrapper {
    padding: 30px;
  }

}

@media screen and (max-width: 767px) {

  .sidebar {
    width: 100%;
    float: none;
    height: auto;
    position: static;
    padding: 20px 15px;
  }

  .sidebar ul,
  .sidebar li {
    margin-bottom: 0;
  }

  .page-content {
    width: 100%;
    float: none;
  }

  .wrapper {
    padding: 15px;
  }

  .categories {
    display: none;
  }

}