---
layout: default
title: Project List
permalink: /list/
---
<div class="page">

  <h1>Projects</h1>

  <div class="post-list">

    {% for post in site.posts %}
      
      <p class="post-category">
        {% for category in post.categories%}
          {% if category == 'wordpress' %}
                {{ category | replace: 'wordpress', 'WordPress'}}
              
              {% elsif category == 'jquery' %}
                {{ category | replace: 'jquery', 'jQuery'}}
              
              {% elsif category == 'javascript' %}
                {{ category | replace: 'javascript', 'JavaScript'}}
              
              {% elsif category == 'angularjs' %}
                {{ category | replace: 'angularjs', 'AngularJS'}}
              
              {% else %}
                {{ category | capitalize}}
              {% endif %}<span class="bullet">&nbsp;&bullet;</span>
        {% endfor %}
      </p>
      
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

    {% endfor %}
  
  </div>

</div>